{% extends 'base.html' %}

{% block page-content %}


<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/static/imgs/system-analytics-icon.png" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <!-- <span class="text-muted">Something else</span> -->
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/static/imgs/analytics-icon.png" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
             <!--  <span class="text-muted">Something else</span> -->
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/static/imgs/attach-1.png" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <!-- <span class="text-muted">Something else</span> -->
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/static/imgs/cloud.png" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <!-- <span class="text-muted">Something else</span> -->
            </div>
</div>

<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th>Header</th>
<th>Header</th>
<th>Header</th>
<th>Header</th>
</tr>
</thead>
<tbody>
<tr>
<td>1,001</td>
<td>Lorem</td>
<td>ipsum</td>
<td>dolor</td>
<td>sit</td>
</tr>
<tr>
<td>1,002</td>
<td>amet</td>
<td>consectetur</td>
<td>adipiscing</td>
<td>elit</td>
</tr>
<tr>
<td>1,003</td>
<td>Integer</td>
<td>nec</td>
<td>odio</td>
<td>Praesent</td>
</tr>
<tr>
<td>1,003</td>
<td>libero</td>
<td>Sed</td>
<td>cursus</td>
<td>ante</td>
</tr>
<tr>
<td>1,004</td>
<td>dapibus</td>
<td>diam</td>
<td>Sed</td>
<td>nisi</td>
</tr>

</tbody>
</table>


{% endblock %}

