{% extends 'index.html' %}

{% block username %} {{ username }} {% endblock %}

{% block page-content %}

<div class="container">
<img class="bg-img" src="https://dn-syl-static.qbox.me/img/userbg2.png"/>
</div>

<div class="container layout" id="user-index">
    <div class="row content">
	        <div class="col-md-12 layout-body">
			            <div class="user-intro">
						                <img class="user-image" src="https://dn-simplecloud.qbox.me/gravatar9965f46633866bd6b97d9fe8d52d4aab.png?v=1431056050426&amp;imageView2/1/w/200/h/200">
										                <p class="user-money" href="/questions/86">剩余<span class="money-count">10</span>个
														                <span class="noun-explain" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="有效学习60分钟或邀请1位好友奖励1个实验豆，可以用来解锁部分项目课" data-trggier="hover">实验豆</span>
																		                </p>
																						                
																						                <div class="info-ctrl">
																										                    <span class="user-name">Kallen</span>
																															                    
																															                    
																															                    
																															                    <p class="user-info"><span class="user-profession">在职</span><span class="user-profession">运维工程师</span></p>      
																																				                    
																																				                                           
																																				                    
																																				                    <p class="user-git">代码库: <a class="git-address" href="http://git.shiyanlou.com/Kallen" target="_blank">http://git.shiyanlou.com/Kallen</a></p>
																																									                    
																																									                    
																																									                </div>
																																													                
																																													                <div class="info-btn">                      
																																																	                    <a class="user-profile" href="/profile" target="_blank">修改个人资料</a>
																																																						                </div>
																																																										                
																																																										            </div>
																																																													            <div class="user-achieve">     
																																																																                <div class="achieve-body row">
																																																																				                    <div class="achieve-floor col-md-4">
																																																																									                        <img class="achieve-image" src="https://dn-syl-static.qbox.me/img/Home.png">
																																																																															                        <p>已经登上<span class="achieve-figure">33</span>
																																																																																					                        <span class="noun-explain" data-toggle="tooltip" data-placement="top" title="" data-original-title="每增加30分钟有效学习时间上升1层楼" data-trggier="hover">楼</span>
																																																																																											                        </p>
																																																																																																	                    </div>
																																																																																																						                    <div class="study-time col-md-4">
																																																																																																											                        <img class="achieve-image" src="https://dn-syl-static.qbox.me/img/Clock.png">
																																																																																																																	                        <p><span class="noun-explain" data-toggle="tooltip" data-placement="top" title="" data-original-title="在实验环境中动手输入代码或命令时才计入有效学习时间">有效学习时间</span>共<span class="achieve-figure">984</span>分钟  
																																																																																																																							                        </p>
																																																																																																																													                    </div>
																																																																																																																																		                    <div class="lab-count col-md-4">
																																																																																																																																							                        <img class="achieve-image" src="https://dn-syl-static.qbox.me/img/Lab.png">
																																																																																																																																													                        <p>已完成<span class="achieve-figure">105</span>个实验</p>
																																																																																																																																																			                    </div>
																																																																																																																																																								                </div> 
																																																																																																																																																												            </div>::


{% endblock %}

