{% extends 'base.html' %}

{% block page-content %}

    <div class="container" >
	
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome to Arigue!</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="" role="button">View navbar docs »</a>
        </p>
      </div>

       <form class="navbar-form navbar-right" action="/login" method="post">

              <div class="form-group">
                    <input type="text" placeholder="Username" name="username" class="form-control">
              </div>

              <div class="form-group">
                    <input type="password" placeholder="Password" name="password" class="form-control">
              </div>

              <button type="submit" class="btn btn-success">Sign in</button>
      </form> 


    </div> <!-- /container -->

{% endblock %}	
