{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block page-content %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome to Arigue!</h1>
        <p>A simple DevOps Platform developing by Python Web Framework Django and Bootstrap.</p>
        <p>To see the detail, please view on my <strong>github</strong>.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="" role="button">View on Github  »</a>
        </p>
      </div>

       <form class="navbar-form navbar-right" action="/login" method="post">

              <div class="form-group">
                    <input type="text" placeholder="Username" name="username" class="form-control">
              </div>

              <div class="form-group">
                    <input type="password" placeholder="Password" name="password" class="form-control">
              </div>

              <button type="submit" class="btn btn-success">Sign in</button>
      </form> 


{% endblock %}	
